pipelining,1
ready_mode,0
cycle_time,1
# scratchpad_ports,8,4
partition,cyclic,real,65536,4,2
partition,cyclic,img,65536,4,2
partition,cyclic,real_twid,32768,4,2
partition,cyclic,img_twid,32768,4,2
partition,complete,enable,20,4,1
partition,complete,avail,8,4,1
unrolling,fft,task_loop,2
unrolling,fft,outer_buf1,16
unrolling,fft,inner_buf1,16
unrolling,fft,outer_buf2,16
unrolling,fft,inner_buf2,16
